NETBIRD_MGMT_API_ENDPOINT=<VALUE>
NETBIRD_MGMT_GRPC_API_ENDPOINT=<VALUE>
AUTH_AUDIENCE=<VALUE>
AUTH_CLIENT_ID=<VALUE>
AUTH_CLIENT_SECRET=<VALUE>
AUTH_AUTHORITY=<VALUE>
USE_AUTH0=<VALUE>
AUTH_SUPPORTED_SCOPES=<VALUE>
AUTH_REDIRECT_URI=<VALUE>
AUTH_SILENT_REDIRECT_URI=<VALUE>
NGINX_SSL_PORT=<VALUE>
LETSENCRYPT_DOMAIN=<VALUE>
