UPLOAD_LOCATION=./library
DB_DATA_LOCATION=./postgres
IMMICH_VERSION=release
DB_PASSWORD=<DB_PASSWORD>
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
# used by extra_hosts so the container reaches PocketID via beetle
BEETLE_PUBLIC_IP=<BEETLE_PUBLIC_IP>
