HOMEPAGE_ALLOWED_HOSTS=dash.home.aniicrite.dev
HOMEPAGE_VAR_JELLYFIN_KEY=<VALUE>
HOMEPAGE_VAR_SEERR_KEY=<VALUE>
HOMEPAGE_VAR_SONARR_KEY=<VALUE>
HOMEPAGE_VAR_RADARR_KEY=<VALUE>
HOMEPAGE_VAR_PROWLARR_KEY=<VALUE>
HOMEPAGE_VAR_BAZARR_KEY=<VALUE>
HOMEPAGE_VAR_QBIT_USER=<VALUE>
HOMEPAGE_VAR_QBIT_PASS=<VALUE>
HOMEPAGE_VAR_PBS_TOKEN_ID=homepage@pbs!dash
HOMEPAGE_VAR_PBS_TOKEN=<VALUE>
HOMEPAGE_VAR_PVE_TOKEN_ID=homepage@pve!dash
HOMEPAGE_VAR_PVE_TOKEN=<VALUE>
HOMEPAGE_VAR_IMMICH_KEY=<VALUE>
HOMEPAGE_VAR_BESZEL_USER=homepage@home.lan
HOMEPAGE_VAR_BESZEL_PASS=<VALUE>
